doctype html
head
  link(rel='stylesheet' href='styles/login.css')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css")
  title Sign in
hgroup
  h1 Welcome to Green
  h4 Keep Track Of Your Money. Stay On Track Of Your Life.
  if(result == "error")
    label(id="errorMessage", class = "errorMsg", style={color: 'red', background: 'black'}) Error logging in.
  else
    label(id="errorMessage", class = "noErrorMessage") Error logging in.
	
.main
  i.fa.fa-money(style="font-size:48px; margin-top:10px;")
  form.form1(action="/login", method="post")

    input.username(type="text" name="username" id="username" placeholder="Username" required autofocus)
    input.password(type="password" name="password" id="password" placeholder="Password" required)

    p.create(align='center')
        button(name="SignIn") Sign in
    p.create(align='center')
      a(href='signup') Create Account
    //- p.forgot(align='center')
    //-   a(href='') Forgot Password?
