doctype html
head
  link(rel='stylesheet' href='styles/login.css')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title Sign in
hgroup
  h1 Welcome to Green
  h4 Keep Track Of Your Money. Stay On Track Of Your Life.
.main
  i.fa.fa-money(style="font-size:48px; margin-top:10px;")
  form.form1
    
    input.username(type='text' align='left' placeholder='Username')
    input.password(type='password' align='left' placeholder='Password')
    p.create(align='center')
        button(name="SignIn") Sign in
    p.create(align='center')
      a(href='signup') Create Account
    p.forgot(align='center')
      a(href='') Forgot Password?
