doctype html
head
  link(rel='stylesheet' href='styles/signup.css')
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.0.0.min.js')
  script(type='text/javascript' src='JavaScript/signup.js')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='path/to/font-awesome/css/font-awesome.min.css')
  script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  link(rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css")
  script(type = 'text/javascript' src='socketio/socket.io.js')
  title Sign Up
body  
  form(action="/processSignup", method="post")
    fieldset.step1
      h2.fs-title Account Details
      h3.fs-subtitle Step 1
      input(type='text' name='username' placeholder='Username')
      input(type='text' name='email' placeholder='Email')
      input(type='password' name='pass' placeholder='Password')
      input(type='password' name='cpass' placeholder='Confirm Password')
      input.next.action-button(type='button' name='next' value='Next')
    fieldset.step2
      h2.fs-title Personal Details
      h3.fs-subtitle Step 2
      input(type='text' name='firstName' placeholder='First Name')
      input(type='text' name='lastName' placeholder='Last Name')
      input(type='date' name='dateOfBirth' placeholder='MM/DD/YYYY')
      input(type='tel' name='phoneNumber' placeholder='(555)-555-5555')
      input(type='text' name='country' placeholder='Country')
      input(type='text' name='address' placeholder='Address')
      input.previous.action-button(type='button' name='previous' value='Previous')
      input.next.action-button(type='button' name='next' value='Next')
    fieldset.step3
      h2.fieldSet_title Budget Details
      h3.fieldSet_subtitle Step 3
      input#inputs(type='text' name='entertainment' placeholder='Entertainment')
      input#inputs(type='text' name='education' placeholder='Education')
      input#inputs(type='text' name='health' placeholder='Personal/Health Care')
      input#inputs(type='text' name='groceries' placeholder='Groceries')
      input#inputs(type='text' name='restaurants' placeholder='Restaurants')
      input#inputs(type='text' name='utilities' placeholder='Utilities & Bills')
      input#inputs(type='text' name='auto' placeholder='Auto & Transportation')
      input#inputs(type='text' name='gifts' placeholder='Gifts & Donations')
      input#inputs(type='text' name='investments' placeholder='Investments')
      input#inputs.previous.action-button(type='button' name='previous' value='Previous')
      input#inputs.submit.action-button(type='submit' name='submit' value='Submit')