.jumbotron {
    padding-top: 0.5rem;
    text-align: center;
   
}

.form {
    background:  #ffffff; 
    border-radius:  4px; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
    border: 3px solid #AAAAAA;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
   
    
  }

.image img {
    width: 220px;
    height: auto;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 12px;
    border: 3px solid #AAAAAA;
  }


  

  #form1{
      text-align: center;
      
  }

  #tile1{
      background-color: transparent;
      padding-top: 2rem;
      padding-bottom: 2rem;
     
      
  }

  #aboutMe{
    
      text-align: center;
      padding-top: 2rem;
      background-color:  #28a745;
      padding-bottom: 2rem;
  }

  .card{
    width: 100%;
    height: auto;
    border-radius: 2rem;
  }

  
