body {
    background-color: #76b852;
    font-family: 'Ubuntu', sans-serif;
}


.set1{
    text-align: center;
    padding-top: 15%;
 
}


.set2{
    text-align: center;
    padding-top: 3rem;
   
}

.set3{
    text-align: center;
    padding-top: 3rem;
   
}