body {
    /* background-color: #76b852; */
    background-color: #e9ecef;
    font-family: 'Ubuntu', sans-serif;
}


.set1{
    text-align: center;
    padding-top: 5%;

}


.set2{
    text-align: center;
    padding-top: 3rem;

}

.set3{
    text-align: center;
    padding-top: 3rem;

}

.card{
  background-color: white;
}

.btn{
  margin: 0.4rem;
}

div div div img {
  /* display: inline-block; */
  margin: 0 auto;
  padding-top: 1rem;
}


#chair {
  margin-top: 1.3rem;
}


#amountLabel {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  font-size: 16px;
}

#budgetLabel {
  /* float: right; */
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  font-size: 16px;

}
