body {
    /* background-color: #76b852; */
    background-color:white;
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron{
    background-color: #e9ecef;
    padding:1rem;
    margin: 0%;
}

.container{
    /* border: 3px solid #001f3f; */
    padding-top: 2rem;
    border-radius: 1rem;
    /* margin-top: 5%; */
    background-color: #e9ecef;
    color:black;
    /* padding-bottom: 1rem; */
    text-align: center;

}

.list-group{
    /* text-align: center; */
    display: inline-block;
}

button{
    margin: 2rem;

    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
}

i {
    margin-top: 0.5rem;
}

button[name='button1']{
    color: black;
    background-color: #c0c0c0;
    /* border: 3px solid #001f3f; */
}

button[name='button2']{
    color: black;
    background-color: #c0c0c0;
    /* border: 3px solid #001f3f; */
}

button[name='button3']{
    color: black;
    background-color: #c0c0c0;
    /* border: 3px solid #001f3f; */
}

button[name='button4']{
    color: black;
    background-color: #c0c0c0;
    /* border: 3px solid #001f3f; */
}

button[name='button5']{
    color: black;
    background-color: #c0c0c0;
    /* border: 3px solid #001f3f; */
}
button[name='btnAdminLog']{
	  visibility: hidden;
    color: black;
    background-color: #c0c0c0;
    /* border: 3px solid #001f3f; */
}


button:hover{
    /* height: 3rem; */
    box-shadow: 0px 11px 35px 2px rgba(0, 100, 0, 0.5);
    background-color: rgba(0, 100, 0, 0.5);
    /* background-color: white;; */
}




#theModal{
	display: block;	
	/*opacity: 0.0;*/	
	visibility: hidden;								/*By default, modal is hidden*/
	z-index: 1;										/*Puts it above other content*/
	overflow: auto;									/*Allows scrolling*/
	box-shadow: -1px -1px 25px #82D305;				/*Adds a shade/popup shadow to the log*/
	/*border-style: solid;*/
	border-radius: 10px;							/*Makes the modal have slightly rounded edges*/
	width: 50%;										/*Sets the dimensions of the modal*/
	height: 80%;
	margin-top: 4.2rem;								/*Makes the modal appear just under the navbar*/
	margin-left: 25%;								/*Centers the modal*/
	background-color: rgba(255,255,255,0.8);		/*Makes the log semi transparent*/


}

.close{
	font-size: 35px;
	padding-right: 0.5rem;
	padding-top: 0.2rem;
}


/* Modal Content */
#mContent {
 /* position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
}

#mHeader {
	text-align: center;
	border: 2px;
	border-style: none none solid none;
	border-color: rgba(0,0,0,0.5);
}

#mBody {
	text-align: center;
	border-style: none none solid none;
	border-color: rgba(0,0,0,0.5);
}



#buttonCarousel{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.carousel-inner{
    text-align: center;
}

.carousel-indicators{
    vertical-align: bottom;
    margin-top: 1rem;
}



.carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

li.active{
  background-color: #28a745;
}

.carousel-indicators li{
  background-color: rgba(0, 100, 0, 1);
}


#chart{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
    text-align: center;
}

svg{
    width: 150%;
    height: 150%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

#input{
    padding: 2rem;
}

#input{
    float: left;
}
