body {
    background-color: #76b852;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 25%;
    height: 25%;
    
    margin-left: auto;
    margin-right: auto;

    border-radius: 2rem;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.5);
    text-align: center;

    border: 3px solid #001f3f;
    
}

hgroup {
	text-align:center;
    margin-top: 4em;
    margin-bottom: 4rem;
}


.username {
width: 76%;
color: rgb(47, 121, 69);
font-weight: 700;
font-size: 0.8rem;

background: rgba(21, 139, 40, 0.04);
padding: 0.75rem;
border: 3px solid #AAAAAA;
border-radius: 20px;
outline: none;
box-sizing: border-box;



text-align: left;
margin-bottom: 1rem;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 1rem;
   
}

.password {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;

background: rgba(136, 126, 126, 0.04);
padding: 0.75rem;
border: 3px solid #AAAAAA;
border-radius: 20px;
outline: none;
box-sizing: border-box;



text-align: left;

font-family: 'Ubuntu', sans-serif;
}



button {

    border-radius: 5em;
    color: #fff;
    background:  #4CAF50;;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    
    font-size: 13px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.2);
}

.forgot a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #4CAF50;

}

.create {
   
}

.create a{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color:  #4CAF50;

}

a {
    text-decoration: none
}
