
body {
    background-color: #3F6634;
    font-family: 'Ubuntu', sans-serif;
    
}

.set2{
    margin-top: 2rem;
   
}

.display-4 {
    text-align: center;

}

hr {
    background-color: #93827F;
    
}



.lead{
    text-align: center;
}

.jumbotron{
    background-color: #DCFFFD;
    border-bottom: 3px solid #93827F;

}
.exchange{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
   
}

.card{
    margin-left: auto;
    margin-right: auto;
  width: 4rem;
  height: auto;
  border: 3px solid #93827F;

  background-color: #DCFFFD;

  
  
  text-align: center;

  -webkit-transition: all 1.0s ease;
  -moz-transition: all 1.0s ease;
  -o-transition: all 1.0s ease;

  -webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
  
}

.card:hover{
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.5);

    border: 3px solid #001f3f;
    
   
    
   
}

.card img{
    height: 200px;
    width: auto;
    border-bottom: 3px solid #001f3f;
   
}

.card p {
    height: 150px;
    width: auto;
    
    
}

.card h5 {
    height: 50px;
    width: auto;
}

.btn{
    border-radius: 0.5rem;
    border: 3px solid #001f3f;
    width:100%;
    background-color: #DCFFFD;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;


    -webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
}

.btn:hover{
    background-color: #35CE8D;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.5);
    border: 3px solid #DCFFFD;
    
}

form{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
   
   
}

hr[name='headline']{
    margin-top: 1rem;
}

