

td, th {
  border: 1px solid black;
  padding: 0.5rem;
}

th{
  background-color: #85858585 ;
  color: #2a2a2a;
  text-align: center;
}

table {
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  color: #444444;
  background-color: #87ceeb;
  width: 75%;

}

tr:hover {
  background-color: #dcfffd;
  color: black;
  cursor: pointer;
}

body {
    background-color: #82d305;
    font-family: 'Ubuntu', sans-serif;

}
body table {
  text-align: center;
  vertical-align: top;

}

.btn-danger,.btn-danger:hover, .btn-danger:active:focus, .btn-danger:visited {
  /* close */
  background-color: #8e8d8a;
  color: #333333;
}

.btn-primary,.btn-primary:hover, .btn-primary:active:focus, .btn-primary:visited {
  /* enter transaction */
  background-color: #ff3939 ;
  color: #222222;
}

.btn-warning,.btn-warning:active,.btn-warning:visited{
  /* New transaction */
    margin-bottom: 3rem;
    background-color: #87ceeb ;
    /* color: #333333; */
    border-color: black;
}
 .btn-warning:hover{
   background-color: #dcfffd;
 }



.jumbotron{
  background-color: #dcfffd;
  border-bottom: black solid 1px;
  border-radius: 0px;
  text-align: center;

}
